#toast-window {
  padding: 16px;
  max-width: 50vw;
  max-height: 50%;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 10000000;
  overflow: auto;
}

.ignore-pointer {
  pointer-events: none;
}
.listen-pointer {
  pointer-events: auto;
}

.console-log-toast {
  font-family: "Trebuchet MS", sans-serif !important;
  background-color: #6c757d !important;
  color: white !important;
  padding: 8px !important;
  line-height: 20px !important;
  font-size: 16px !important;
  border-radius: 10px;
  font-weight: 500 !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  text-align: right;
  box-shadow: rgb(170, 170, 170) 0px 0px 12px 0px;
  overflow-x: hidden;
}

.console-log-toast.error {
  background-color: #dc3545 !important;
  color: white !important;
}

.console-log-toast.warn {
  background-color: #ffc107 !important;
  color: black !important;
}

.toast-container {
  width: 100% !important;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}

.toast-row {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  margin-right: -15px !important;
  margin-left: -15px !important;
}

.toast-col {
  -webkit-flex-basis: 0 !important;
  -ms-flex-preferred-size: 0 !important;
  flex-basis: 0 !important;
  -webkit-box-flex: 1 !important;
  -webkit-flex-grow: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
  max-width: 100% !important;
  position: relative !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.toast-justify-content-end {
  justify-content: flex-end !important;
}

.toast-align-self-end {
  align-self: flex-end !important;
}
